<div class="player">
    <section role="region">
        <header>
            <menu type="toolbar">
                <button class="button-close"><span class="icon icon-close">close</span></button>
            </menu>
        </header>
    </section>
    <section role="region">
        Song playing...
    </section>
    <section role="toolbar">
        <div class="controls" role="toolbar">
            <button class="media-icon media-play">media play</button>
        </div>
    </section>

    <!-- <audio id="main-player" mozaudiochannel="content" preload="none" autoplay></audio> -->
</div>
